<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">

    <a style="color: white;" class="navbar-brand" href="#">HOTEL Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
            routerLink="/customer">CustomerList</a>
        </li>
        
        <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
            routerLink="/orderList">OrderList</a>
        </li>

        <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
            routerLink="/menuList">Back</a>
        </li>

        <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="javascript:void(0);"
            routerLink="/">LogOut</a>
        </li>
        
        
    </ul>
</div>
</nav>

<div class="container" style="border: 10px solid rgb(70, 225, 236); width:500px; padding: 15px; align-items: center;">

    <label>Item_ID : <b>{{menu.item_id}}</b></label><br><br>

    <label>Item_Name : <b>{{menu.item_name}}</b></label><br><br>

    <label>Item_Category : <b>{{menu.item_category}}</b></label><br><br>

    <label>Item_Price : <b>{{menu.item_price}}</b></label><br><br>

    <label>Item_Availibility : <b>{{menu.item_availability}}</b></label><br><br>

    <label>Item_Description : <b>{{menu.item_description}}</b></label><br><br>

</div>


